body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logoutForm {
    background-color: #3b5998;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    width: 300px;
}

.logoutForm h1 {
    margin-bottom: 20px;
    text-align: center;
   margin-top: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2d4373;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #1d3059;
}
.logoutForm a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.logoutForm a:hover {
    text-decoration: underline;
}