<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - FriendHub</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body>
<div class="login">
    <div class="loginForm">
        <h1>Login to FriendHub</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="forgotPassword">
        <a href="/reset-password">do not remember your password ?</a></div>
        <div class="newAccount">
        <a href="/register">Create a new account</a>
        </div>
        </div>
</div>
</body>
</html>
