
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Logout - FriendHub</title>
        <link rel="stylesheet" href="/css/registrationAndLogin/logout.css">
    </head>
    <body>
    <div class="logout">
        <div class="logoutForm">
            <h1>Logout from FriendHub</h1>
            <form action="/friendHub/logout" method="post">
                <button type="submit">Logout</button>
            </form>
            <a href="/friendHub/home">Back to Home</a>
        </div>
    </div>
    </body>
    </html>

