<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Enter Email - FriendHub</title>
  <link rel="stylesheet" href="/css/registrationAndLogin/remindMyPassword.css">
</head>
<body>
<div class="emailEntry">
  <div class="emailForm">
    <h1>Enter your email</h1>
    <form action="/friendHub/remindMyPassword/add" method="post">
      <input type="email" name="email" placeholder="Email" required>
      <button type="submit">Submit</button>
    </form>
    <a href="/friendHub/login">Back to Home</a>
  </div>
</div>
</body>
</html>
