body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.verify {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.verifyForm {
    background-color: #3b5998;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    width: 350px;
}

h1 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2d4373;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #1d3059;
}

.resendToken {
    margin-top: 20px;
    text-align: center;
}

.resendToken a {
    color: #fff;
    text-decoration: none;
}

.resendToken a:hover {
    text-decoration: underline;
}