
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.friends-list {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /*edytować*/
    justify-content: space-between;
}

header {
    background-color: #3b5998;
    color: #fff;
    padding: 10px 0;
    width: 100%;

}

input {
    margin-left: 100px;

}

header h1 {
    font-size: 24px;
    display: inline-block;
    margin-left: 500px;

}

nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
}


nav a:nth-child(2) {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 400px;;

}


nav a:hover {
    text-decoration: underline;
}

aside {
    width: 30%;
    float: right;
}

main {
    width: 65%;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2d4373;
}

.all img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;

}

.name {
    vertical-align: top; /* Wyśrodkowanie w pionie */
    margin-left: 10px; /* Odstęp od lewej strony */
    padding: 0;
    display: inline-block;
    font-size: 1.2rem;

}

.all span:nth-child(3) {
    margin-left: 0;
    vertical-align: bottom;
    color: green;
    display: inline-block;
}

.all {
    display: block;
    height: 50px;
    width: 700px;
}

.post-information {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.interactions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


}

.profile {
    margin-top: 50px;
    border-width: 3px; /* Grubość obramowania */
    border-style: solid; /* Styl obramowania */
    border-color: gray; /* Kolor obramowania */
}




