<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Social App</title>
  <link rel="stylesheet" href="../css/friendsPaige.css">
</head>
<body>
<header>
  <div >
    <nav>
      Logo
      <input  placeholder="Search for friends">
      <h1>FriendHub</h1>
      <a href="">Home</a>
      <a href="">Profile</a>
      <a href="">Friends</a>
    </nav>
  </div>
</header>

<div >
  <main>
    <section class="friends-list">
      <h2>My Friends</h2>
      <div class="friend">
        <img src="" alt="Friend 1">
       <p>John S</p>
     </div>
      <div class="friend">
        <img src="" alt="Friend 2">
        <p>Jane S</p>
      </div>
    </section>
  </main>
</div>

<footer>
  <div>
    <p>&copy; 2024 friendHub</p>
  </div>
</footer>
</body>
</html>
