<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d</title>
    <link rel="stylesheet" href="../css/mainPaige.css" >
</head>
<body>
<header>
    <div >
        <nav>
             Logo
            <input  placeholder="Search for friends">
            <h1>FriendHub</h1>
            <a href="">Home</a>
            <a href="">Profile</a>
            <a href="">Friends</a>
        </nav>
    </div>
</header>

<div class="friends-list">
    <aside>
        <h2>Friends</h2>
        <ul>
            <li>Friend 1</li>
            <li>Friend 2</li>
            <li>Friend 3</li>
        </ul>
    </aside>

    <main>
        <section>
            <h2>Timeline</h2>
            <form>
                <textarea placeholder="What's on your mind?"></textarea>
                <button type="submit">Post</button>
            </form>
            <div class="post">
                <p>dsadaassac</p>
            </div>
        </section>
    </main>
</div>

<footer>
    <div >
        <p>&copy; 2024 </p>
    </div>
</footer>
</body>
</html>
