<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>d</title>
    <link rel="stylesheet" href="/css/mainPaige.css">
</head>
<body>
<header>
    <div>
        <nav>
            Logo
            <form th:action="@{/friendhub/searchFriends}" method="get">
                <input type="text" name="fullName" placeholder="First Name and Last Name">
                <button type="submit">Search</button>
            </form>
            <h1>FriendHub</h1>
            <!--<a href="">Home</a>-->
            <button onclick="window.location.href='http://localhost:8080/home'">profile</button>

            <!--            <a href="">Profile</a>-->
            <button onclick="window.location.href='http://localhost:8080/friendhub/profile'">profile</button>

            <!--            <a href="">Friends</a>-->
            <button onclick="window.location.href='http://localhost:8080/friendhub/friends'">friends</button>
        </nav>
    </div>
</header>

<div class="friends-list">
    <aside>
        <h2>Friends</h2>
        <ul>
            <li>Friend 1</li>
            <li>Friend 2</li>
            <li>Friend 3</li>
        </ul>
    </aside>

    <main>
        <section>
            <h2>Timeline</h2>
            <form action="/home/add" method="post">
                <textarea name="post"  placeholder="What's on your mind?"></textarea>
                <button type="submit">Post</button>
            </form>
            <div class="profile" th:if="${not #lists.isEmpty(allPosts)}" th:each="post : ${allPosts}">
                <div class="all">
                    <img src="facebookAvatar.png" alt="Profile Image">
                    <span class="name" th:text="${post.getAuthor()}"></span>
                    <span>Opublikowany przez <span th:text="${post.getAuthor()}"></span></span>



                </div>
                <div th:text="${post.getPost()}">
                </div>
                <div class="post-information">
                    <span>likes</span>
                    <span>comments</span>
                    <span>uploads</span>

                </div>
                <div class="interactions">
                    <button>likes</button>
                    <button>comments</button>
                    <button>uploads</button>

                </div>


            </div>


        </section>
    </main>
</div>

<div>


</div>


<footer>
    <div>
        <p>&copy; 2024 </p>
    </div>
</footer>
</body>
</html>
